body{
font-family:Arial;
background:#f2f2f2;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.register-container{
background:white;
padding:40px;
border-radius:10px;
width:350px;
text-align:center;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

form{
display:flex;
flex-direction:column;
gap:15px;
}

input{
padding:10px;
border-radius:5px;
border:1px solid #ccc;
}

button{
padding:10px;
background:#e60012;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#b0000e;
}

#register-error{
color:red;
font-size:14px;
}

.login-link{
margin-top:15px;
}