@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");

body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .navbar {
            background-color: #e60012;
            /* rojo Nintendo */
            color: white;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 16px;
        }

        .left,
        .right {
            display: flex;
            align-items: center;
            gap: 18px;
        }

        .menu-icon {
            font-size: 26px;
            cursor: pointer;
        }

        .logo {
            font-weight: bold;
            border: 2px solid white;
            border-radius: 20px;
            padding: 4px 12px;
            font-size: 14px;
        }

        .nav-item {
            display: flex;
            align-items: center;
            gap: 6px;
            cursor: pointer;
            font-size: 14px;
        }

        .icon {
            font-size: 18px;
        }

        .avatar {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background: #ccc;
            display: inline-block;
        }