@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f2f2f2;
}

/* ====== TOP BAR ====== */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #e60012;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  z-index: 1000;
}

.logo {
  border: 2px solid white;
  border-radius: 25px;
  padding: 6px 14px;
  font-weight: bold;
}

.top-actions {
  display: flex;
  gap: 30px;
  align-items: center;
}

.action {
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.action .icon {
  font-size: 22px;
  display: block;
}

/* ====== SIDEBAR ====== */
.sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  width: 110px;
  height: calc(100% - 70px);
  background: #e60012;
  color: white;
  display: flex;
  flex-direction: column;
}

.side-item {
  padding: 18px 10px;
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  cursor: pointer;
}

.side-item:hover {
  background: #c50010;
}

.side-item span {
  display: block;
  font-size: 13px;
  margin-top: 6px;
}

/* ====== MAIN CONTENT ====== */
.main {
  margin-top: 70px;
  margin-left: 110px;
  padding: 20px;
}

/* Carrusel */
.carousel {
  background: black;
  height: 380px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  /*foto*/
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: white;
  background: rgba(0,0,0,0.4);
  padding: 5px 12px;
  cursor: pointer;
}

.arrow.left  { left: 10px; }
.arrow.right { right: 10px; }

/* ====== Novedades ====== */
.section {
  margin-top: 25px;
  background: white;
  border-radius: 10px;
  padding: 20px;
}

.section h2 {
  border-left: 5px solid #e60012;
  padding-left: 10px;
  margin-bottom: 15px;
}

.tabs {
  display: flex;
  gap: 10px;
}

.tab {
  padding: 8px 16px;
  border-radius: 20px;
  background: #eee;
  cursor: pointer;
}

.tab.active {
  background: #ff3c2f;
  color: white;
}