@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f2f2f2;
}

/* ====== TOP BAR ====== */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #e60012;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  z-index: 1000;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
}
.logo img {
  height: 23px;
  width: auto;
  object-fit: contain;
}

.top-actions {
  display: flex;
  gap: 18px;
  align-items: center;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.action a {
  font-size: 10px;
  margin: 0;
  font-weight: bold;
}

.action a:hover {
  text-decoration: underline;
}

.action i {
  font-size: 28px;
  display: block;
  margin-bottom: 8px;
}

/* ====== SIDEBAR ====== */
.sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  width: 88px;
  height: calc(100% - 70px);
  background: #e60012;
  color: white;
  display: flex;
  flex-direction: column;
}

.sidebar i {
  font-size: 25px;
  display: block;
  margin: 0 auto;
}

#N_S {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

#M_N_S {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

.side-item {
  height: 80px; /* ALTURA FIJA */
  padding: 0; /* quitamos padding variable */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: background 0.2s ease;
}

.side-item:hover {
  background: #c50010;
}

.side-item span {
  font-size: 13px;
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ====== MAIN CONTENT ====== */
.main {
  margin-top: 70px;
  margin-left: 88px;
  display: flex;
  display: block;
  padding: 0;
  width: calc(100% - 88px);
}

/* ====== carrusel ====== */
.carousel {
  position: relative;
  width: 100%;
  height: 580px;
  min-height: 580px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 0px;
}

#carousel-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 5;
  transform: transform 0.5s ease;
}

.slide {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 90%;
  gap: 20px;
}

.img-main {
  object-fit: cover;
  z-index: 5;
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.img-side {
  object-fit: cover;
  opacity: 0.5; 
  filter: blur(5px); 
  flex-shrink: 0;
}

.carousel::before,
.carousel::after {
  content: "";
  position: absolute;
  top: 0;
  width: 16%;
  height: 100%;
  z-index: 8;
  pointer-events: none; 
  backdrop-filter: blur(8px) brightness(0.5); 
}

.carousel::before {
  left: 0;
}
.carousel::after {
  right: 0;
}

.arrow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  z-index: 10;
  transition: background 0.3s;
}

.left {
  left: 0;
}
.right {
  right: 0;
}

.indicators {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 10px;
}

.bar {
  width: 30px;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.bar.active {
  background: white;
}
/* ====== Novedades ====== */
.section {
  width: 100%;
  padding: 40px 20px;
  background: white;
  display: block;
  position: relative;
}

.section h2 {
  font-size: 24px;
  border-left: 4px solid #e60012;
  padding-left: 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.tabs {
  display: flex;
  gap: 10px;
}

.tab {
  padding: 8px 16px;
  border-radius: 20px;
  background: #eee;
  cursor: pointer;
}

.tab.active {
  background: #ff3c2f;
  color: white;
}
